* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Pretendard';
    font-style: normal;
    background-color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    width: 78%;
    margin: 0 auto;
    padding-top: 40px;
}

.logo-image {
    display: inline-block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.navbar-content {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
}

.container {
    width: 78%;
    margin: 0 auto;
}

.header {
    margin-top: 100px;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 28px;
    line-height: 38px;
    color: #2A2A2A;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

h1 span {
    font-weight: 900;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-items {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #555555;
}

.filter {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
}

.dropdown button {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #555555;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#arrow {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #F5F5F5;
    border: 1px solid #969696;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
    padding: 0;
    margin: 10px 0 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

.dropdown-menu li:hover {
    color: black;
    font-weight: 700;
}

.dropdown-menu.visible {
    opacity: 1;
    visibility: visible;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4개의 열 */
    grid-template-rows: repeat(auto-fill, minmax(width, auto));
    gap: 40px;
    margin-top: 40px;
}

.product-item {
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.product-item img {
    width: 100%;
    margin-bottom: 10px;
    background: #D9D9D9;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1px;
    height: width;
    overflow: hidden;
}

.product-item h3 {
    margin-bottom: 10px;
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 146%;
    color: #2A2A2A;
    text-align: left;
}

.product-item .price {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2A2A2A;
    
}

.product-item .rating {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0674FC;

}

.product-item .rating span {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2A2A2A;
}

.product-item .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    width: 100%;
}

.site-information {
    text-align: center;
    width: 100%;
    margin-top: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #D9D9D9;
}

.site-information-text {
    font-weight: 600;
    font-size: 16px;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
}

.pagination button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ffffff;
    margin: 0 15px;
}

.pagination button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination .current-page {
    background-color: #ffffff;
    color: #2A2A2A;
    font-weight: 900;
}